<div class="article-card">
	<div class="article-title">
		<a href="#" class="hblue bold">文章标题</a>
	</div>
	<div class="article-create-time">
		由<span class="create-time-text blue bold">用户</span>发表于<span class="create-time-text blue bold">时间</span>
	</div>
	<div class="article-img"> <img src="image/pic-1.jpg" width="600" /> </div>
	<div class="article-summary"> 这里是简介<br />
		<a href="#" class="blue bold">继续阅读--></a> 
	</div>
	<div class="article-tags"> 发表在<span class="tag-text blue bold"> 文章归属</span>| 标签有<span class="tag-text blue bold">标签名</span>|<span class="tag-text blue bold">回复数</span> 
	</div>
</div>