 <div class="footer"> copyright © Echoes.ALL Rights Reserved. Power By Echoes. </div>
 </div>
	<!-- <div class="mask" id ="div-mask" > </div>
	<div class="window" id="window">
	  <div class="window-title">
	    <div class="window-title-text">用户登录</div>
	    <input type="button" class="window-close-btn" id="close"/>
	  </div>
	  <div class="window-content">
	    <div class="window-login">
	      <div class="login-text-w">用户名
	        <div class="login-textbox-po">
	          <input type="text" name="username" class="login-input" />
	        </div>
	      </div>
	      <div class="login-text-w">密&nbsp;&nbsp;&nbsp;码
	        <div class="login-textbox-po">
	          <input type="password" name ="password" class="login-input"/>
	        </div>
	      </div>
	      <div class="regesit-box"><a href="#" class="hblue" >[注册新用户]</a></div>
	      <input type="button" value="Login" id="login" class="login-btn ll-btn"/>
	    </div>
	  </div>
	  <div class="window-footer"> </div>
	</div> -->
</body>
</html>