<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>eBlog</title>
		
		<link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/prettify-night.css"/>
        <link rel="stylesheet" type="text/css" href="/css/home.css" />
        <script type="text/javascript" src="/js/prettify.js"></script>
        <script type="text/javascript" src="/js/search.js"></script>
		<% include header-plugin %>
	</head>
	<body onload="prettyPrint()">
		<div class="wrap">
			<div class="header">
				<div class="title">
					<div class="title-box">
						<div class="main-title">Echo's Blog</div>
						<div class="sub-title">
							<div>Just for fun.</div>
						</div>
					</div>
					<div class="search-box" id="search_box">
						<div class="search">
							<input type="text" name="content"  class="search-text" id="search_text" placeholder="搜索"/>
							<input type="button" name="btn_search"  class="search-btn"/>
						</div>
						<div  class="search-result" id="result" style="display:none">
							<ul>
								<li><a href="#">搜索结果</a></li>
								<li><a href="#">搜索结果</a></li>
								<li><a href="#">搜索结果</a></li>
								<li><a href="#">搜索结果</a></li>
								<li><a href="#">搜索结果</a></li>
								<li><a href="#">搜索结果</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="bg-img"> </div>
				<% include nav %>
			</div>
			<div class="content">