<div class="nav-right">
  <div class="datelist">
  <div class="list-title">T a g L i n e</div>
    <ul>
    <%
      for(var i in _tagMap){
        %>
          <li>
            <a href="/tag/<%= i %>"><%= _strUtil.upper1st(i) %></a>
            <span class="count"><%= _tagMap[i].length %></span>
          </li>
        <%
      }
    %>
    </ul>
  </div>
</div>