<div class="nav-right">
  <div class="datelist">
  <div class="list-title">T i m e L i n e</div>
    <ul>
    <li><a href="#">December</a>
      </li>
      <li><a href="#">November</a>
      </li>
      <li><a href="#">October</a>
      </li>
      <li><a href="#">September</a>
      </li>
      <li><a href="#">Aguest</a>
      </li>
      <li><a href="#">July</a>
      </li>
      <li><a href="#">June</a>
      </li>
      <li><a href="#">May</a>
      </li>
      <li><a href="#">April</a>
      </li>
      <li><a href="#">March</a>
      </li>
      <li><a href="#">February</a>
      </li>
      <li><a href="#">January</a>
      </li>
    </ul>
  </div>
  
  <!--    
	<div class="login">
      <div class="login-title">登录</div>
      <div class="login-text">用户名</div>
      <input type="text" name="username" class="login-input" />
      <br/>
      <div class="login-text">密码</div>
      <input type="password" name ="password" class="login-input"/>
      <br/>
     
      <span class="regesit-box"><a href="#" class="hblue" >[注册新用户]</a></span> </div>
  	</div>
  --> 
</div>