<div class="nav">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Article</a></li>
		<li><a href="#">Short</a></li>
		<li><a href="#">Picture</a></li>
		<li><a href="#">File</a></li>
		<li><a href="#">CV</a></li>
	</ul>
</div>