<div class="nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/article">Article</a></li>
		<li><a href="/short">Short</a></li>
		<li><a href="/pricture">Picture</a></li>
		<li><a href="/file">File</a></li>
		<li><a href="/cv">CV</a></li>
	</ul>
</div>