/* CSS Document */
/***********************Common****************************8*/
*{
	padding:0;
	margin:0;
}

body,input,textarea {
	color:#eee;
	font:14px "Microsoft YaHei","Helvetica Neue,Helvetica",Arial,sans-serif;
	font-weight:300;
	line-height:1.625;
}
ul{
	list-style:none;
}
a{
	color:#eee;
	text-decoration:none;
}
.wrap{
	margin:30px auto;
	width:1024px;
	background:#0f0f0f;
}
body{
	background:url(../image/background.jpg);
}
.header{

}
.content{
}
.footer{
	clear:both;
	padding-top:20px;
	height:40px;
	border-top:1px solid #282828;
	color:#999;
	text-align:center;
	font-size:12px;
}
.title{
	height:166px;
	position:relative;
}
.title-box{
	position:absolute;
	top:25%;
	left:10%;
}
.main-title{
	font-size:36px;
	color:#eee;
	height:36px;
	line-height:36px;
	margin-bottom:3px;
}
.sub-title{
	font-size:24px;
	color:#999;
	height:24px;
	line-height:24px;
}

.bg-img{
	height:350px;
	background:url(../image/pic-2.jpg);
}

.nav{
	padding-left:75px;
	height:43px;
	background:#323232;
	background:linear-gradient(#383838,#272727);
	box-shadow:1px 1px 2px rgba(0,0,0,0.4);
}

.nav li{
	float:left;
}
.nav li a{
	display:block;
	padding:0 20px;
	line-height:43px;
	font-size:14px;
	color:#eee;
}

.nav li a:hover{
	background:#eee;
	color:#282828;
}

.search-box{
		float:right;
		position:absolute;
		right:7%;
		top:35%;
		width:138px;
		background:#ccc;
		height:32px;
		transition: width 1s;
}
.search{
	border:0;
	height:32px;
	padding:0px 15px;
}
.search-result{
	position:absolute;
	display:block;
	width:208px;
	top:32px;
	left:0;
	background:#eee;
	border-top:1px solid #282828;
	z-index:100;
}
.search-result li{
	float:none;
	display:block;
	padding:5px 0 5px 10px;
	
}
.search-result li a{
	color:#0f0f0f;
}
.search-result li:hover{
	background:#ddd;
}
.search-btn{
	border:0;
	width:20px;
	height:20px;
	cursor:pointer;
	position:absolute;
	top:7px;
	left:7px;
	background:url(../image/search.png) no-repeat 0 0;
	outline:0;
}

.search-text{
	border:0;
	outline:0;
	margin:4px 0 4px 15px;
	width:105px;
	height:24px;
	line-height:24px;
	background:#ccc;
	transition: width 1s;
	color:#0f0f0f;
}
.page{
	color:#ccc;
	padding-bottom:20px;
}
.content-left{
	width:749px;
	float:left;
	padding-top:30px;
	border-right:1px solid #282828;
	min-height: 614px;
}
.left{
	float:left;
}
.right{
	float:right;
}


.blue,.blue a{
	color:#4399ee;
}

.blue a:hover{
	text-decoration: underline;
}


.hblue:hover{
	color:#4399ee;
}

.bold{
	font-weight:bold;
}

.content-right{
	float:left;
	width:273px;
}

.nav-right{
	margin:30px 20px;
	text-align:left;
	position:relative;
	
}
.nav-right li{
	display:block;
	padding:10px 0;
}

.mask{
	height:100%; width:100%; 
	position:fixed; 
	_position:absolute; 
	top:0; 
	z-index:1000; 
	opacity:0.6; 
	filter: alpha(opacity=30); 
	background-color:#000;
	display:none;
}
.login{
	color:#ccc;
	font-size:12px;
}

.login-title{
	margin-bottom:20px;
}

.login-text{
	position:relative;
	margin:15px 0 2px 0;
	text-shadow:1px 1px 2px #999;

}
.login-btn{
	margin:20px 0;
	padding:2px 10px;
	height:30px;
	color:#333;
	outline:0;
	border:0;
	border-radius:2px;
	box-shadow:1px 1px 2px #999;
	padding:5px 10px;
	margin-right:35px;
}

.ll-btn{
	width:255px;
	margin:5px 0;
}


.login-btn:hover{
	background:#eee;
}
.login-input{
	width:200px;
	outline:0;
	border:0;
	color:#333;
	height:30px;
	font-size:16px;
	line-height:30px;
	border-radius:2px;
	box-shadow:1px 1px 2px #999;
	background:#eee;
}
.last{
	height:60px;
}

.window{
	position:fixed;
	top:36%;
	left:36%;
	width:350px;
	height:280px;
	background:#333;
	z-index:9999;
	display:none;
}

.window-title{
	text-align:right;
	height:35px;
	background:rgba(153,153,153,1);
	box-shadow:1px 1px 2px rgba(0,0,0,0.4);
}
.window-title-text{
	float:left;
	line-height:35px;
	font-size:16px;
	padding-left:135px;
	border-radius:3px;
}

.window-content{
	height:220px;
	border:1px solid #666;
	border-top:0;
	border-bottom:0;
	color:#eee;

}
.window-footer{
	height:25px;
	border:1px solid #666;
	border-top:0;
}
.window-close-btn{
	border:0;
	width:35px;
	height:35px;
	background:url(../image/close-btn.PNG) no-repeat 0 0;
	outline:0;
	
}
.window-close-btn:hover{
	background:url(../image/close-btn2.PNG);
}

.window-login{
	padding-left:45px;
	padding-top:23px;
	position:relative;
}
.regesit-box{
	text-align:right;
	width:255px;
}
.regesit-box a{
	color:#eee;
}

.login-textbox-po{
	position:absolute;
	left:55px;
	top:-5px;
}

.login-text-w{
	position:relative;
	margin:25px 0;
}

.datelist{
	margin:15px auto;
	text-align:center;
}

.list-title{
	margin: 10px auto;
	font-size:18px;
}

.datelist .count{
	/*
	position: absolute;
	top:7.5px;
	left: 122px;
		background: #eee;
	color:#000;
	 */
	margin-left:5px;
	padding: 0 5px;
	min-width: 25px;
	line-height: 25px;
	height: 25px;
	border-radius: 4px;
}

.datelist li{
	position:relative;
	border-left:1px solid #282828;
	border-right:1px solid #282828;
	width:120px;
	margin:1px auto;
	padding:5px 0;
}
.datelist li a{
	background:#333;
	padding:5px 10px;
	border-radius:3px;
	border:0;
	color:#eee;
	width:100px;
	display:block;
	text-align:left;
}
.datelist li a span{
	float: right;
	width: 30px;
	display:inline-block;
	text-align:right;
}

.datelist li a:hover{
	background:#eee;
	color:#282828;
}

/*********************特殊*******************/

.cards{
	width:600px;
	margin:0 auto;
}
.msg-card{
	margin:20px 0;
	border-bottom:1px solid #282828;
	min-height:65px;
	width:600px;
	color:#ccc;
}

.user-img{
	width:65px;
	padding:6px 20px 0 0;
	overflow:hidden;
}
.head-img{
	border-radius:3px;
}

.msg-content{
	width:515px;
	padding-bottom:20px;
	font-size:16px;
}
.msg-title{
	display:block;
	font-size:18px;
	padding-bottom:3px;
}
.msg-title a{
	color:#eee;
}

.msg-create-time{
	margin-top:10px;
	font-size:12px;
	text-align:right;
	padding-bottom:10px;
}

.article-card{
	margin:20px 0;
	border-bottom:1px solid #282828;
	min-height:65px;
	width:600px;
	color:#ccc;
}
.article-img{
	margin-top:30px;
	width:600px;
	max-height:400px;
	overflow:hidden;	
}
.article-title{
	font-size:24px;
	
}
.article-title a{
	color:#eee;
}

.article-create-time{
	font-size:12px;
	text-align:left;
	padding-bottom:10px;
}

.article-summary{
	font-size:16px;
	padding-bottom:20px;
}
.article-tags{
	margin-top:10px;
	font-size:12px;
	text-align:right;
	padding-bottom:10px;
	
}
.tag-text{
	padding: 0 5px;
}
.create-time-text{
	padding: 0 5px;
}

/* 为代码块定义的样式 */
pre.prettyprint {
    font-family: Monaco,Consolas,Monospace,'Lucida Console','Liberation Mono','DejaVu Sans Mono','Bitstream Vera Sans Mono','Courier New','宋体';
    font-size: 14px;
    border: 1px solid #333;
    border-radius: 4px;
    background: #181818;
}
pre.prettyprint ol {
    margin: 0 0 0 40px;
}
