<% include inc/header %>
<div class="content-left">
	<div class="cards">
		<div class="page"> LocalPosition><a href="/article">Article</a>><a href="/article/<%= id %>" ><%= title %></a> </div>
		<% include inc/article-box %>

		<div class="last"></div>
	</div>
</div>
<div class="content-right">
	<% include inc/nav-right %>
</div>
<% include inc/footer %>