<% include inc/header %>
<div class="content-left">
	<div class="cards">
		<div class="page"> LocalPosition><a href="/article">Article</a>><a href="/article/<%= id %>" ><%= id %></a> </div>
		<% include inc/article-box %>
		<div class="last"></div>
		<% include inc/footer-plugin %>
	</div>
</div>
<div class="content-right">
	<% include inc/nav-right %>
</div>
<% include inc/footer %>