<% include inc/header %>
<div class="content-left">
	<div class="cards">
		<div class="page"> LocalPosition><a href="#" >CV</a> </div>
		<% include inc/msg-card %>
		<% include inc/article-card%>
		<div class="last"></div>
	</div>
</div>
<div class="content-right">
	<% include inc/nav-right %>
</div>
<% include inc/footer %>
